html {
  scroll-behavior: smooth;
  transition: background-color 1s ease, color 1s ease;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1319px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: white;
  color: black;
  transition: background-color 1s ease, color 1s ease;
}

.dark body {
  background-color: #1a202c;
  color: white;
}

.dark .bg-white {
  background-color: #2d3748;
}

.dark .text-black {
  color: white;
}
